@import "../../styles.scss";

// Temp
.center-page{
    display: flex;
    //width:calc(100vw - 40px);
    //height:calc(100vh - 40px);
    align-items: center;
    text-align: center;
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $hover-color;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
-webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
-webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
-webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
-webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
-webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
-webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
-webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
-webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
-webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
}
}

@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
}
}

//------------------------------------
.asset-table {
    border-collapse: collapse;
    border-radius: 0.4em;
    overflow: hidden;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    width: 50vw;
    table-layout: fixed;
}

// Header
.asset-table thead tr {
    background-color: $main-color;
    color: #ffffff;
    text-align: left;
}

.asset-table th {
    white-space: nowrap;
}

// Table cells
.asset-table th,
.asset-table td {
    padding: 12px 25px;
}

// Table rows
.asset-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.asset-table tbody tr:nth-of-type(odd) {
    background-color: $light-accent;
    transition-duration: 0.1s;
}

.asset-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
    transition-duration: 0.1s;
}

.asset-table tbody tr:last-of-type {
    border-bottom: 2px solid $main-color;
}

// Active Rows
.asset-table tbody tr:hover {
    background-color: $hover-color;
    color: #ffffff;
}

// non table selectors
.asset-name {
    font-weight: bold;
}

// sortable header directive
th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
  
th[sortable].desc:before,
th[sortable].asc:before {
    content: "";
    display: block;
    background:
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/White_Arrow_Up.svg/1024px-White_Arrow_Up.svg.png")
      no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 10px;
    margin-top: 4px;
    transition: 0.3s ease;
}
  
th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

// search bar styling
.form-control {
    width: 50%;
    font-size: 0.9em;
    padding: 8px 10px;
    display: inline-block;
    border: thin solid #ccc;
    border-radius: 0.4em;
    box-sizing: border-box;
}

// Internet Explorer - remove X form search bar
.form-control::-ms-clear { display: none; width : 0; height: 0; }
.form-control::-ms-reveal { display: none; width : 0; height: 0; }

// Google Chrome - remove X form search bar
.form-control::-webkit-search-decoration,
.form-control::-webkit-search-cancel-button,
.form-control::-webkit-search-results-button,
.form-control::-webkit-search-results-decoration { display: none; }

// table pagination
.table-pagination ::ng-deep .ngx-pagination {
    float: right;
}

.table-pagination ::ng-deep .ngx-pagination .current {
    background: $hover-color;
}

.table-pagination ::ng-deep .ngx-pagination .current,
.table-pagination ::ng-deep .ngx-pagination a:hover {
    border-radius: 0.4em;
    transition-duration: 0.05s;
}

// loading
.loading{
    color: white;
    padding-top: 50px;
}