@import "../../styles.scss";

.asset-table {
    border-collapse: collapse;
    border-radius: 0.4em;
    overflow: hidden;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

// Header
.asset-table thead tr {
    background-color: $main-color;
    color: #ffffff;
    text-align: left;
}

// Table cells
.asset-table th,
.asset-table td {
    padding: 12px 25px;
}

// Table rows
.asset-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.asset-table tbody tr:nth-of-type(odd) {
    background-color: $light-accent;
    transition-duration: 0.1s;
}

.asset-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
    transition-duration: 0.1s;
}

.asset-table tbody tr:last-of-type {
    border-bottom: 2px solid $main-color;
}

// Active Rows
.asset-table tbody tr:hover {
    background-color: $hover-color;
    color: #ffffff;
}

// non table selectors
.asset-name {
    font-weight: bold;
}

// sortable header directive
th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  
th[sortable].desc:before,
th[sortable].asc:before {
    content: "";
    display: block;
    background:
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/White_Arrow_Up.svg/1024px-White_Arrow_Up.svg.png")
      no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 10px;
    margin-top: 4px;
    transition: 0.25s ease;
}
  
th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

// input styling
.form-control {
    width: 30%;
    font-size: 0.9em;
    padding: 8px 10px;
    display: inline-block;
    border: thin solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

// Internet Explorer - remove X form search bar
.form-control::-ms-clear { display: none; width : 0; height: 0; }
.form-control::-ms-reveal { display: none; width : 0; height: 0; }

// Google Chrome - remove X form search bar
.form-control::-webkit-search-decoration,
.form-control::-webkit-search-cancel-button,
.form-control::-webkit-search-results-button,
.form-control::-webkit-search-results-decoration { display: none; }