@import 'node_modules/bootstrap/scss/bootstrap';

// Global Variables
$main-color: #12232E;
$secondary-color: #007CC7;
$accent-color: #4DA8DA;
$hover-color: #78c2e9;
$main-accent: #203647;
$light-accent: #EEFBFB;
$light-bkg-color: #fff;
$light-nav-bkg: #8899A6;

$dark-bkg-color: #212121;
$dark-accent: #192734;
$dark-row: #22303c;
$dark-main-color: #0c1a23;
$dark-content: #181818;

html {
    -webkit-text-size-adjust: 100%;
    font-family: BlinkMacSystemFont, 'Segoe UI', -apple-system, Roboto, ui-sans-serif, 
    system-ui, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    line-height: 1.5;
    scroll-behavior: smooth;
    font-size: 18px;
}

html, body { 
  height: 100%;
  transition-duration: 0.25s;
}

body { margin: 0 auto; font-family: BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; }

// Dark Mode
body.dark-theme {
  background-color: $dark-bkg-color;
  color: white;
}

// table
body.dark-theme .asset-table thead tr {
  background-color: $main-color;
}

body.dark-theme table.asset-table tbody tr:nth-of-type(even) {
  background-color: $dark-accent !important;
}

body.dark-theme table.asset-table tbody tr:nth-of-type(odd) {
  background-color: $dark-row !important;
}

body.dark-theme .asset-table tbody tr {
  border-bottom: thin solid $main-color !important;
}

body.dark-theme table.asset-table tbody tr:hover {
  background-color: $secondary-color !important;
}

// pagination
body.dark-theme {
  ul.ngx-pagination a:hover {
    color: black !important;
  }

  ul.ngx-pagination li.current {
    background: $secondary-color !important;
  }
}

// navbar
body.dark-theme div.nav {
  background-color: $main-color;
  border-bottom: thin solid $main-accent;
}

// filter bar
body.dark-theme input.form-control {
  background-color: $dark-content !important;
  color: #fff !important;
  outline: none;
}

body.dark-theme input.form-control::-webkit-input-placeholder {
  color: #aaaaaa;
}